USE [master]
GO
/****** Object:  Database [Assignment_PRN211]    Script Date: 7/21/2023 10:55:10 AM ******/
CREATE DATABASE [Assignment_PRN211]
go
USE [Assignment_PRN211]
GO
/****** Object:  Table [dbo].[Bed]    Script Date: 7/21/2023 10:55:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bed](
	[BedId] [int] NOT NULL,
	[RoomId] [varchar](4) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BedId] ASC,
	[RoomId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChangeRoomRequest]    Script Date: 7/21/2023 10:55:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChangeRoomRequest](
	[UserId1] [varchar](8) NOT NULL,
	[UserId2] [varchar](8) NULL,
	[RoomId1] [varchar](4) NULL,
	[BedId1] [int] NULL,
	[RoomId2] [varchar](4) NULL,
	[BedId2] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId1] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dormitory]    Script Date: 7/21/2023 10:55:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dormitory](
	[DomId] [int] NOT NULL,
	[DomName] [varchar](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[DomId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fee]    Script Date: 7/21/2023 10:55:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fee](
	[UserId] [varchar](8) NOT NULL,
	[Fee] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 7/21/2023 10:55:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[UserId] [varchar](8) NOT NULL,
	[SemesterId] [varchar](4) NOT NULL,
	[BedId] [int] NULL,
	[RoomId] [varchar](4) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[SemesterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RequestBooking]    Script Date: 7/21/2023 10:55:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RequestBooking](
	[UserId] [varchar](8) NULL,
	[RoomId] [varchar](4) NOT NULL,
	[BedId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BedId] ASC,
	[RoomId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RequestContact]    Script Date: 7/21/2023 10:55:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RequestContact](
	[UserId] [varchar](8) NULL,
	[Phone] [varchar](10) NULL,
	[Message] [nvarchar](1000) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Room]    Script Date: 7/21/2023 10:55:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Room](
	[RoomId] [varchar](4) NOT NULL,
	[DomId] [int] NULL,
	[CategoryId] [int] NULL,
	[Gender] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[RoomId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoomCategory]    Script Date: 7/21/2023 10:55:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoomCategory](
	[CategoryId] [int] NOT NULL,
	[CategoryName] [nvarchar](255) NULL,
	[Price] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Semester]    Script Date: 7/21/2023 10:55:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Semester](
	[SemesterId] [varchar](4) NOT NULL,
	[SemesterName] [nvarchar](255) NULL,
	[StartTime] [date] NULL,
	[EndTime] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[SemesterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 7/21/2023 10:55:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserName] [nvarchar](255) NULL,
	[UserId] [varchar](8) NOT NULL,
	[UserDob] [date] NULL,
	[UserGender] [bit] NULL,
	[Password] [nvarchar](255) NULL,
	[isAdmin] [bit] NULL,
	[isActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Bed] ([BedId], [RoomId]) VALUES (1, N'A101')
INSERT [dbo].[Bed] ([BedId], [RoomId]) VALUES (1, N'A102')
INSERT [dbo].[Bed] ([BedId], [RoomId]) VALUES (1, N'A103')
GO
INSERT [dbo].[Dormitory] ([DomId], [DomName]) VALUES (1, N'A')
INSERT [dbo].[Dormitory] ([DomId], [DomName]) VALUES (2, N'B')
INSERT [dbo].[Dormitory] ([DomId], [DomName]) VALUES (3, N'C')
GO
INSERT [dbo].[Fee] ([UserId], [Fee]) VALUES (N'ADMIN001', 800000.0000)
INSERT [dbo].[Fee] ([UserId], [Fee]) VALUES (N'ADMIN002', 700000.0000)
INSERT [dbo].[Fee] ([UserId], [Fee]) VALUES (N'ADMIN003', 900000.0000)
GO
INSERT [dbo].[Order] ([UserId], [SemesterId], [BedId], [RoomId]) VALUES (N'HA150006', N'Fa22', 6, N'A104')
INSERT [dbo].[Order] ([UserId], [SemesterId], [BedId], [RoomId]) VALUES (N'HA150006', N'Su22', 6, N'A104')
INSERT [dbo].[Order] ([UserId], [SemesterId], [BedId], [RoomId]) VALUES (N'HA150263', N'Fa22', 5, N'A103')
GO
INSERT [dbo].[RequestContact] ([UserId], [Phone], [Message]) VALUES (N'HE176321', N'0912345678', N'Em muốn đặt phòng.')
GO
INSERT [dbo].[Room] ([RoomId], [DomId], [CategoryId], [Gender]) VALUES (N'A101', 1, 3, 1)
INSERT [dbo].[Room] ([RoomId], [DomId], [CategoryId], [Gender]) VALUES (N'A102', 1, 3, 1)
INSERT [dbo].[Room] ([RoomId], [DomId], [CategoryId], [Gender]) VALUES (N'A103', 1, 3, 0)
GO
INSERT [dbo].[RoomCategory] ([CategoryId], [CategoryName], [Price]) VALUES (1, N'Phòng 3 người', 950000.0000)
INSERT [dbo].[RoomCategory] ([CategoryId], [CategoryName], [Price]) VALUES (2, N'Phòng 4 người', 850000.0000)
INSERT [dbo].[RoomCategory] ([CategoryId], [CategoryName], [Price]) VALUES (3, N'Phòng 6 người', 700000.0000)
GO
INSERT [dbo].[Semester] ([SemesterId], [SemesterName], [StartTime], [EndTime]) VALUES (N'Fa22', N'Fall 2022', CAST(N'2022-09-01' AS Date), CAST(N'2022-12-31' AS Date))
INSERT [dbo].[Semester] ([SemesterId], [SemesterName], [StartTime], [EndTime]) VALUES (N'Sp23', N'Spring 2023', CAST(N'2023-01-01' AS Date), CAST(N'2022-04-30' AS Date))
INSERT [dbo].[Semester] ([SemesterId], [SemesterName], [StartTime], [EndTime]) VALUES (N'Su22', N'Summer 2022', CAST(N'2022-05-01' AS Date), CAST(N'2022-08-31' AS Date))
GO
INSERT [dbo].[User] ([UserName], [UserId], [UserDob], [UserGender], [Password], [isAdmin], [isActive]) VALUES (N'Trần Hải Anh', N'ADMIN001', CAST(N'1998-03-12' AS Date), 1, N'123456', 1, 1)
INSERT [dbo].[User] ([UserName], [UserId], [UserDob], [UserGender], [Password], [isAdmin], [isActive]) VALUES (N'Tạ Nhật Minh', N'ADMIN002', CAST(N'1995-01-23' AS Date), 1, N'123456', 1, 1)
INSERT [dbo].[User] ([UserName], [UserId], [UserDob], [UserGender], [Password], [isAdmin], [isActive]) VALUES (N'Tạ Ngọc Anh', N'ADMIN003', CAST(N'2003-11-03' AS Date), 0, N'123456', 1, 1)
GO
ALTER TABLE [dbo].[Bed]  WITH CHECK ADD FOREIGN KEY([RoomId])
REFERENCES [dbo].[Room] ([RoomId])
GO
ALTER TABLE [dbo].[ChangeRoomRequest]  WITH CHECK ADD FOREIGN KEY([UserId1])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[ChangeRoomRequest]  WITH CHECK ADD FOREIGN KEY([UserId2])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[ChangeRoomRequest]  WITH CHECK ADD FOREIGN KEY([BedId1], [RoomId1])
REFERENCES [dbo].[Bed] ([BedId], [RoomId])
GO
ALTER TABLE [dbo].[ChangeRoomRequest]  WITH CHECK ADD FOREIGN KEY([BedId2], [RoomId2])
REFERENCES [dbo].[Bed] ([BedId], [RoomId])
GO
ALTER TABLE [dbo].[Fee]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD FOREIGN KEY([BedId], [RoomId])
REFERENCES [dbo].[Bed] ([BedId], [RoomId])
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD FOREIGN KEY([SemesterId])
REFERENCES [dbo].[Semester] ([SemesterId])
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[RequestBooking]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[RequestBooking]  WITH CHECK ADD FOREIGN KEY([BedId], [RoomId])
REFERENCES [dbo].[Bed] ([BedId], [RoomId])
GO
ALTER TABLE [dbo].[RequestContact]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Room]  WITH CHECK ADD FOREIGN KEY([CategoryId])
REFERENCES [dbo].[RoomCategory] ([CategoryId])
GO
ALTER TABLE [dbo].[Room]  WITH CHECK ADD FOREIGN KEY([DomId])
REFERENCES [dbo].[Dormitory] ([DomId])
GO
USE [master]
GO
